@model Category
@{
    ViewData["Title"] = "Edit";
}

 <h1>Edit Category </h1>

 <form asp-action="Edit" method="post">

@*     <partial name="_Form" model="Model" />  *@
    @Html.Partial("_Form", Model)
 
    <button type="submit" class="btn btn-warning">Update</button>


 </form>
